#headLogo{
    padding-right: 20px;
    padding-left: 10px;
}

#coming_soon{
    padding-bottom: 10%;
    padding-right: 15%;
    padding-left: 15%;
}

#login{
    padding-bottom: 20%;
    padding-right: 15%;
    padding-left: 15%;
}

.align-center{
    align-content: center;
    align-items: center;
    text-align: center;
}

.small-margin{
    margin: 2%;
}

.small-padding{
    padding: 2%;
}

.medium-padding{
    padding: 10%;
}

.font-mild-grey{
    color: #262626;
}

.font-bright-gey{
    color: #ececec;
}

.font-aliceblue{
    color: aliceblue;
}

.font-discord{
    color: #9146FF;
}

.font-telegram{
    color: #2AABEE;
}

.font-youtube{
    color: #FF0000;
}

.font-twitch{
    color: #9146FF;
}

.font-footer{
    color: aliceblue; text-decoration: none;
}

.font-notification-in_bubble-small{
    font-size: 0.4em;
}

.font-notification-in_bubble-big{
    font-size: 0.7em;
}

.light-body{
    background-color: #e8e8e8; color: #1e1e1e
}

.dark-body{
    background-color: #212529; color: white
}

.light-footer{
    background-color: #617590ff;
}

.dark-footer{
    background-color: #617590ff;
}

.light-header{
    /*background-color: #3b5c8f;*/
    background-color: #abccff;
}

.dark-header{
    background-color: #abccff;
}

.no-bg{
    background-color: rgba(255, 255, 255, 0.1);
}

.bg-discord{
    background-color: #7289DA;
}

.bg-telegram{
    background-color: #179CDE;
}

.bg-youtube{
    background-color: #FF0000;
}

.bg-twitch{
    background-color: #9146FF;
}
