<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0">
    {% if user.light_mode == True %}
    <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon.png')}}"/>
    {% else %}
    <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon2.png')}}"/>
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <!-- Nav Bar/ Header -->
    <nav
        {% if user.light_mode == True %}
        class="navbar sticky-top navbar-expand-lg light-header"
        {% else %}
        class="navbar sticky-top navbar-expand-lg dark-header"
        {% endif %}
    >   <!-- navbar sticky-top navbar-expand-lg navbar-light -->
        <div class="container-fluid">
            <a class="nav-brand" href="home">
                <img
                    {% if user.light_mode == True %}
                    src="/static/small-logo.png"
                    {% else %}
                    src="/static/small-logo.png"
                    {% endif %}
                    id = "headLogo"
                    alt="Logo"
                    Height="50"
                    onmouseover="this.src='/static/logo-gif-fast-withpause.gif'"
                    onmouseout="this.src='/static/small-logo.png';"
                >
            </a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}  <!--Home-->
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="/home">
                            <p class="h3 font-mild-grey">Home</p>
                        </a>
                    </li>
                    {% endif %}

                    <li class="nav-item dropdown">  <!--User management-->
                        <a class="nav-link dropdown-toggle h3 font-mild-grey"
                           href="#"
                           id="userDropdownMenuLink"
                           data-bs-toggle="dropdown">
                            User
                        </a>
                        <ul class="dropdown-menu">
                            {% if user.is_authenticated %}
                                <li>
                                    <a class="dropdown-item" href="/profile">Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/otts">OTTs</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </li>
                            {% else %}
                                <li>
                                    <a class="dropdown-item" href="/register">Register</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/login">Login</a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>

                    {% if user.is_authenticated %}  <!--Commands-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle h3 font-mild-grey"
                           href="#"
                           id="adminDropdownMenuLink"
                           data-bs-toggle="dropdown">
                            Commands
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/command-dashboard">Dashboard</a></li>
                            <li><a class="dropdown-item" href="/command-table">Commands</a></li>
                            <li><a class="dropdown-item" href="/command-groups">Groups</a></li>
                            <li><a class="dropdown-item" href="/timer-table">Timers</a></li>
                            <li><a class="dropdown-item" href="/command-inexport">In/Export</a></li>
                            <li><a class="dropdown-item" href="/command-input">Add Commands</a></li>
                        </ul>
                    </li>
                    {% endif %}

                    {% if user.is_authenticated %}  <!--NLU-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle h3 font-mild-grey"
                           href="#"
                           id="nluDropdownMenuLink"
                           data-bs-toggle="dropdown">
                            NLU
                            <!-- Notification Bubble -->
                            {% if app.tracking.to_do_entities + app.tracking.to_do_intents != 0 %}
                            <span
                                class="position-absolute top-20 start-80 translate-middle badge rounded-pill bg-danger
                                    font-notification-in_bubble-small">
                                {{app.nlu_to_do_entities + app.nlu_to_do_intents}}
                            </span>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/nlu-overview">NLU Overview</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/nlu-entities">
                                    Entities
                                    {% if app.nlu_to_do_entities != 0 %}
                                    <span class="badge rounded-pill bg-danger font-notification-in_bubble-big">
                                        {{app.nlu_to_do_entities}}
                                    </span>
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/nlu-intents">
                                    Intents
                                    {% if app.nlu_to_do_intents != 0 %}
                                    <span class="badge rounded-pill bg-danger font-notification-in_bubble-big">
                                        {{app.nlu_to_do_intents}}
                                    </span>
                                    {% endif %}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/nlu-inexport">In/Exports</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}

                    {% if user.is_authenticated %}  <!--Platforms-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle h3 font-mild-grey"
                           href="#"
                           id="adminDropdownMenuLink"
                           data-bs-toggle="dropdown">
                            Platforms
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/platform-dashboard">Dashboard</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/platform-analysis">Analysis</a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}

                    <li class="nav-item">  <!--Chat-->
                        <a class="nav-item nav-link font-mild-grey" href="/chat">
                            <p class="h3">
                                Chat
                            </p>
                        </a>
                    </li>

                </ul>
                <!-- right part-->
                <ul class="navbar-nav ms-auto">  <!--logout-->
                    {% if user.is_authenticated %}
		            <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <p class="h3 font-mild-grey">
                                Logout
                            </p>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Real Body -->
    {% if user.light_mode %}
    <div class="container-fluid light-body">
    {% else %}
    <div class="container-fluid dark-body">
    {% endif %}

        <div class="d-grid d-md-flex justify-content-md-end">
            <form class="small-padding" method="get" action="">  <!--empty action submits to the current page a get request-->
                {% if user.light_mode == True %}
                    <input type="hidden" name="Light" value="0">
                    <button class="btn btn-outline-dark" type="submit">Dark</button>
                {% else %}
                    <input type="hidden" name="Light" value="1">
                    <button class="btn btn-outline-light" type="submit">Light</button>
                {% endif %}
            </form>
        </div>

        <!-- Flash implementation -->
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category, message in messages %}
                {% if category == "success" %}
                <div class="alert alert-success alter-dismissible fade show" role="alert">
                {% else %}
                <div class="alert alert-danger alter-dismissible fade show" role="alert">
                {% endif %}
                    <div class="text-center">
                        {{ message }}
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </div>


    <!-- Footer -->
    {% if user.light_mode == True %}
    <div class="container-fluid light-footer">
    {% else %}
    <div class="container-fluid dark-footer">
    {% endif %}
        {% if user.is_authenticated %}
        <div class="container text-left small-padding font-footer">
            <div class="row">
                <div class="col-1">
                    <a class="font-footer" href="/home">Home</a>
                </div>
                <div class="col-1">
                    <a class="font-footer" href="/profile">Profile</a>
                </div>
                <div class="col-1">
                    <a class="font-footer" href="/command-dashboard"><b>Command</b></a>
                </div>
                <div class="col-1">
                    <a class="font-footer" href="/nlu-dashboard"><b>NLU</b></a>
                </div>
                <div class="col-1">
                    <a class="font-footer" href="/platform-dashboard"><b>Platform</b></a>
                </div>
                <div class="col-1">
                    <a class="font-footer" href="/resources">Resources</a>
                </div>
                <div class="col-1">
                    <a class="font-footer" href="/log_view">Logs</a>
                </div>
                <div class="col-1">
                    <a class="font-footer" href="/chat">Chat</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-1"><!--Home--></div>
                <div class="col-1">
                    <a class="font-footer" href="/otts">OTTs</a>
                </div>
                <div class="col-1">
                    <a class="font-footer" href="/command-groups">Groups</a>
                </div>
                <div class="col-1">
                    <a class="font-footer" href="/nlu-entities">Entities</a>
                </div>
                <div class="col-1">
                    <a class="font-footer" href="/platform-analysis">Analysis</a>
                </div>
                <div class="col-1">
                    <a class="font-footer" href="/impressum">Impressum</a>
                </div>
                <div class="col-1"><!--Logs--></div>
                <div class="col-1"><!--Chat--></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-1"><!--Home--></div>
                <div class="col-1">
                    <a class="font-footer" href="/logout">Logout</a>
                </div>
                <div class="col-1">
                    <a class="font-footer" href="/command-timers">Timers</a>
                </div>
                <div class="col-1">
                    <a class="font-footer" href="/nlu-intents">Intents</a>
                </div>
                <div class="col-1"><!--platforms--></div>
                <div class="col-1"><!--misc--></div>
                <div class="col-1"><!--Logs--></div>
                <div class="col-1"><!--Chat--></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-1"><!--Home--></div>
                <div class="col-1"><!--User--></div>
                <div class="col-1">
                    <a class="font-footer" href="/command-table">Table</a>
                </div>
                <div class="col-1">
                    <a class="font-footer" href="/nlu-inexport">In/Export</a>
                </div>
                <div class="col-1"><!--platforms--></div>
                <div class="col-1"><!--misc--></div>
                <div class="col-1"><!--Logs--></div>
                <div class="col-1"><!--Chat--></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-1"><!--Home--></div>
                <div class="col-1"><!--User--></div>
                <div class="col-1">
                    <a class="font-footer" href="/command-table">In/Export</a>
                </div>
                <div class="col-1"><!--NLU--></div>
                <div class="col-1"><!--platforms--></div>
                <div class="col-1"><!--misc--></div>
                <div class="col-1"><!--Logs--></div>
                <div class="col-1"><!--Chat--></div>
                <div class="col"></div>
            </div>
        </div>
        {% else %}
        <div class="container text-left small-padding font-footer">
            <div class="row">
                <div class="col-1">
                    <a class="font-footer" href="/home">Home</a>
                </div>
                <div class="col-1">
                    <a class="font-footer" href="/login">Login</a>
                </div>
                <div class="col-1">
                    <a class="font-footer" href="/resources">Resources</a>
                </div>
                <div class="col-1">
                    <a class="font-footer" href="/chat">Chat</a>
                </div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-1"><!--Home--></div>
                <div class="col-1">
                    <a class="font-footer" href="/register">Register</a>
                </div>
               <div class="col-1">
                    <a class="font-footer" href="/impressum">Impressum</a>
                </div>
                <div class="col-1"><!--Chat--></div>
                <div class="col"></div>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous">
    </script>
</body>
</html>