{% extends "base.html" %}
{% block title %}Coming Soon{% endblock %}
{% block content %}

<div class="row" id="coming_soon">
    <div class="col text-center">
        {% if user.light_mode == True %}
        <img src="{{url_for('static', filename='logo-gif-fast-withpause.gif')}}" width="10%">
        {% else %}
        <img src="{{url_for('static', filename='logo-gif-fast-withpause-white.gif')}}" width="10%">
        {% endif %}
        <h1 class=display-1">Coming Soon</h1>
    </div>
</div>

{% endblock %}
