{% extends "base.html" %}
{% block title %}Commands{% endblock %}
{% block content %}

<div class="row" style="padding-bottom: 5%; padding-right: 15%; padding-left: 15%">
    <div class="col">
        {% if user.light_mode == True %}
        <div class="card">
        {% else %}
        <div class="card text-white bg-dark border-light">
        {% endif %}
            <form method="post" action="">
                <div class="card-header">
                    <h1>{{command.symbol}}{{command.name}}</h1>
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary" type="submit" style="margin-bottom: 1%">Submit</button>
                </div>
                <div class="card-body">
                    {% if user.light_mode == True %}
                    <table class="table" style="padding: 2%">
                    {% else %}
                    <table class="table table-dark" style="padding: 2%">
                    {% endif %}
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Usages</th>
                                <th scope="col">Ranking</th>
                                <th scope="col">Mod. Date</th>
                                <th scope="col">Mod. by</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{command.id}}
                                </td>
                                <td>
                                    {{command.usages}}
                                </td>
                                <td>
                                    {{ranking}}
                                </td>
                                <td>
                                    {{command.date}}
                                </td>
                                <td>
                                    {{author.mail}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-body">
                    {% if user.light_mode == True %}
                    <table class="table" style="padding: 2%">
                    {% else %}
                    <table class="table table-dark" style="padding: 2%">
                    {% endif %}
                        <thead>
                            <tr>
                                <th scope="col">Command Name</th>
                                <th scope="col">Trigger Symbol</th>
                                <th scope="col">Group</th>
                                <th scope="col">Active</th>
                                <th scope="col">Auto Delete</th>
                                <th scope="col">Delete Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input class="form-control" type="text" name="command_name" value='{{command.name}}'>
                                </td>
                                <td>
                                    <input class="form-control" type="text" name="command_symbol" value='{{command.symbol}}'>
                                </td>
                                <td>
                                    <select class="form-select" name="group_id">
                                    {% for group in groups %}
                                        {% if command.group == group.id %}
                                        <option value="{{group.id}}" selected>{{group.name}}</option>
                                        {% else %}
                                        <option value="{{group.id}}">{{group.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    {% if command.active == True %}
                                    <input type="checkbox" class="form-check-input" name="cmd_active" checked>
                                    {% else %}
                                    <input type="checkbox" class="form-check-input" name="cmd_active">
                                    {% endif %}
                                </td>
                                <td>
                                    {% if command.auto_delete == True %}
                                    <input type="checkbox" class="form-check-input" name="cmd_auto_delete" checked>
                                    {% else %}
                                    <input type="checkbox" class="form-check-input" name="cmd_auto_delete">
                                    {% endif %}
                                </td>
                                <td>
                                    <input class="form-control" name="cmd_delete_time" value="{{command.auto_delete_time}}">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-header " style="background-color: #7289DA">
                    <h4 class="card-title">Discord</h4>
                </div>
                <div class="card-body">
                    <input class="form-control" type="text" name="text_discord" value='{{command.text_discord}}'>
                </div>
                <div class="card-header " style="background-color: #2AABEE; margin-top: 1%">
                    <h4 class="card-title">Telegram</h4>
                </div>
                <div class="card-body">
                    <input class="form-control" type="text" name="text_telegram" value='{{command.text_telegram}}'>
                </div>
                <div class="card-header " style="background-color: #FF0000; margin-top: 1%">
                    <h4 class="card-title">Youtube</h4>
                </div>
                <div class="card-body">
                    <input class="form-control" type="text" name="text_youtube" value='{{command.text_youtube}}'>
                </div>
                <div class="card-header " style="background-color: #9146FF; margin-top: 1%">
                    <h4 class="card-title">Twitch</h4>
                    <!--<div class="container">
                        <div class="row">
                            <div class="col-1">
                            </div>
                            <div

                        {% if user.light_mode == True %}
                        <button class="btn btn-outline-dark" type="submit">Submit</button>
                        {% else %}
                        <button class="btn btn-outline-light" type="submit">Submit</button>
                        {% endif %}
                    </div>-->
                </div>
                <div class="card-body">
                    <input class="form-control" type="text" name="text_twitch" value='{{command.text_twitch}}'>
                </div>
                <input class="form-control" type="text" name="current_id" value="{{id}}" hidden >
                <input class="form-control" type="text" name="usages" value="{{command.usages}}" hidden >
            </form>

            <form method="post" action="">
                <div class="d-grid">
                    <input hidden class="form-control" type="text" name="del_flag" value="True">
                    <input hidden class="form-control" type="text" name="current_id" value="{{id}}">
                    <button class="btn btn-danger" type="submit" style="margin-top: 5%">Delete Command</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}