{% extends "base.html" %}
{% block title %}Commands{% endblock %}
{% block content %}
<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <p class="h1">
            Commands
        </p>
        {% if user.light_mode == True %}
        <table class="table table-striped" style="padding: 2%">
        {% else %}
        <table class="table table-striped table-dark" style="padding: 2%">
        {% endif %}
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Command Name</th>
                    <th scope="col">Trigger Symbol</th>
                    <th scope="col">Group</th>
                    <th scope="col">Usages</th>
                    <th scope="col">Active</th>
                    <th scope="col">Discord</th>
                    <th scope="col">Telegram</th>
                    <th scope="col">Youtube</th>
                    <th scope="col">Twitch</th>
                    <th scope="col">Auto Delete</th>
                    <th scope="col">Submit</th>
                </tr>
            </thead>
            <tbody>
                {% for command in activated_commands %}
                <tr>
                    <form method="post" action="">
                        <th scope="row">
                            <a href="/command?id={{command.id}}" style="text-decoration: none; color: #6da5ff">
                                {{command.id}}
                            </a>
                        </th>
                        <td>
                            <input class="form-control" type="text" name="cmd_name" value='{{command.name}}'>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="cmd_symbol" value='{{command.symbol}}'>
                        </td>
                        <td>
                            <select class="form-select" name="cmd_group">
                            {% for group in groups %}
                                {% if command.group == group.id %}
                                <option value="{{group.id}}" selected>{{group.name}}</option>
                                {% else %}
                                <option value="{{group.id}}">{{group.name}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </td>
                        <!--<td>
                            {{command.date}}
                        </td>
                        <td>
                            {% for author in authors %}
                                {% if author.id == command.author %}
                                    {{author.mail}}
                                {% endif %}
                            {% endfor %}
                        </td>-->
                        <td>
                            {% if command.active == True %}
                            <input type="checkbox" class="form-check-input" name="cmd_active" checked>
                            {% else %}
                            <input type="checkbox" class="form-check-input" name="cmd_active">
                            {% endif %}
                        </td>
                        <td>
                            {{command.usages}}
                        </td>
                        <td>
                            <input class="form-control" type="text" name="cmd_discord" value='{{command.text_discord}}'>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="cmd_telegram" value='{{command.text_telegram}}'>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="cmd_youtube" value='{{command.text_youtube}}'>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="cmd_twitch" value='{{command.text_twitch}}'>
                        </td>
                        <td>
                            {% if command.auto_delete == True %}
                            <input type="checkbox" class="form-check-input" name="cmd_auto_delete" checked>
                            {% else %}
                            <input type="checkbox" class="form-check-input" name="cmd_auto_delete">
                            {% endif %}
                        </td>
                        <td>
                            {% if user.light_mode == True %}
                            <button class="btn btn-outline-dark" type="submit">Submit</button>
                            {% else %}
                            <button class="btn btn-outline-light" type="submit">Submit</button>
                            {% endif %}
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>

        <p class="h1">
            Disabled Commands
        </p>
        {% if user.light_mode == True %}
        <table class="table table-striped" style="padding: 2%">
        {% else %}
        <table class="table table-striped table-dark" style="padding: 2%">
        {% endif %}
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Command Name</th>
                    <th scope="col">Trigger Symbol</th>
                    <th scope="col">Group</th>
                    <th scope="col">Usages</th>
                    <th scope="col">Active</th>
                    <th scope="col">Discord</th>
                    <th scope="col">Telegram</th>
                    <th scope="col">Youtube</th>
                    <th scope="col">Twitch</th>
                    <th scope="col">Auto Delete</th>
                    <th scope="col">Submit</th>
                </tr>
            </thead>
            <tbody>
                {% for command in deactivated_commands %}
                <tr>
                    <form method="post" action="">
                        <th scope="row">
                            <a href="/command?id={{command.id}}" style="text-decoration: none; color: #6da5ff">
                                {{command.id}}
                            </a>
                        </th>
                        <td>
                            <input class="form-control" type="text" name="cmd_name" value='{{command.name}}'>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="cmd_symbol" value='{{command.symbol}}'>
                        </td>
                        <td>
                            <select class="form-select" name="cmd_group">
                            {% for group in groups %}
                                {% if command.group == group.id %}
                                <option value="{{group.id}}" selected>{{group.name}}</option>
                                {% else %}
                                <option value="{{group.id}}">{{group.name}}</option>
                                {% endif %}
                            {% endfor %}
                            </select>
                        </td>
                        <!--<td>
                            {{command.date}}
                        </td>
                        <td>
                            {% for author in authors %}
                                {% if author.id == command.author %}
                                    {{author.mail}}
                                {% endif %}
                            {% endfor %}
                        </td>-->
                        <td>
                            {% if command.active == True %}
                            <input type="checkbox" class="form-check-input" name="cmd_active" checked>
                            {% else %}
                            <input type="checkbox" class="form-check-input" name="cmd_active">
                            {% endif %}
                        </td>
                        <td>
                            {{command.usages}}
                        </td>
                        <td>
                            <input class="form-control" type="text" name="cmd_discord" value='{{command.text_discord}}'>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="cmd_telegram" value='{{command.text_telegram}}'>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="cmd_youtube" value='{{command.text_youtube}}'>
                        </td>
                        <td>
                            <input class="form-control" type="text" name="cmd_twitch" value='{{command.text_twitch}}'>
                        </td>
                        <td>
                            {% if command.auto_delete == True %}
                            <input type="checkbox" class="form-check-input" name="cmd_auto_delete" checked>
                            {% else %}
                            <input type="checkbox" class="form-check-input" name="cmd_auto_delete">
                            {% endif %}
                        </td>
                        <td>
                            {% if user.light_mode == True %}
                            <button class="btn btn-outline-dark" type="submit">Submit</button>
                            {% else %}
                            <button class="btn btn-outline-light" type="submit">Submit</button>
                            {% endif %}
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="padding-top: 1%;padding-bottom: 1%">
            <p class="h2">
                How do I use commands?
            </p>
            <p>
                You can add new commands by uploading a csv. <br>
                Alternatively you can just program your own side to add commands in the way, which is the most constable for you <br>
                Afterwards you can just type them in one of your connected apps and it should work. <br>
                For more information about the commands; check out the <a href="/resources">resources</a><br>
            </p>
            <p class="h2">
                What can I do in this Overview?
            </p>
            <p>
                You can administer your commands.<br>
                This means you can change every changeable parameter. <br>
                This also leads to some problems: <br>
                The amount of information you can see is quite limited. <br>
                If you want a more indept view of your command, click on the id.<br>
                This will lead you to the command view of that specific command. <br>
                For more information about the commands; check out the <a href="/resources">resources</a><br>
            </p>
        </div>
    </div>
    <div class="col-1"></div>
</div>

{% endblock %}
