{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col">
            {% if userdata.light_mode == True %}
            <div class="card small-margin">
            {% else %}
            <div class="card text-white bg-dark border-light small-margin">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>Top Commands</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        {% for cmd in tops %}
                        <div class="row">
                            <div class="col">
                                {{cmd.name}}
                            </div>
                            <div class="col">
                                {{cmd.usages}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card small-margin">
            {% else %}
            <div class="card text-white bg-dark border-light small-margin">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>Platform Share</strong></h2>
                </div>
                <!--<div class="card-body"> TODO: fix this
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="progress">
                                    <div class="progress-bar bg-discord"
                                         role="progressbar"
                                         style="width: {{percentages['Discord']}}%;">{{percentages['Discord']}}%</div>
                                    <div class="progress-bar bg-telegram"
                                         role="progressbar"
                                         style="width: {{percentages['Telegram']}}%;">{{percentages['Telegram']}}%</div>
                                    <div class="progress-bar bg-youtube"
                                         role="progressbar"
                                         style="width: {{percentages['Youtube']}}%;">{{percentages['Youtube']}}%</div>
                                    <div class="progress-bar bg-twitch"
                                         role="progressbar"
                                         style="width: {{percentages['Twitch']}}%;">{{percentages['Twitch']}}%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="card-footer">
                    <!--<small class="text-center"> TODO: generate this
                        <p class="text-center">
                            <a href="/platform-overview" style="text-decoration: None; color: #7289DA">Discord</a>
                            <a href="/platform-overview" style="text-decoration: None; color: #2AABEE">Telegram</a>
                            <a href="/platform-overview" style="text-decoration: None; color: #FF0000">YouTube</a>
                            <a href="/platform-overview" style="text-decoration: None; color: #9146FF">Twitch</a>
                        </p>
                    </small>-->
                </div>
            </div>
        </div>
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card small-margin">
            {% else %}
            <div class="card text-white bg-dark border-light small-margin">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>NLU</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <form method="get" action="">
                                    {% if app.nlu == True %}
                                    <div class="d-grid">
                                        <input type="hidden" name="set_NLU" value="0">
                                        <button class="btn btn-secondary" type="submit">Deactivate</button>
                                    </div>
                                    {% else %}
                                    <div class="d-grid">
                                        <input type="hidden" name="set_NLU" value="1">
                                        <button class="btn btn-primary" type="submit">Activate</button>
                                    </div>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card small-margin">
            {% else %}
            <div class="card text-white bg-dark border-light small-margin">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>Dead Commands</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        {% for cmd in flops %}
                        <div class="row">
                            <div class="col">
                                {{cmd.name}}
                            </div>
                            <div class="col">
                                {{cmd.usages}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card small-margin">
            {% else %}
            <div class="card text-white bg-dark border-light small-margin">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>Platform Status</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col font-discord">Discord</div>
                            {% if platform_status['Discord'] == "online" %}
                            <div class="col text-success">Online</div>
                            {% else %}
                            <div class="col text-danger">Offline</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col font-telegram">Telegram</div>
                            {% if platform_status['Telegram'] == "online" %}
                            <div class="col text-success">Online</div>
                            {% else %}
                            <div class="col text-danger">Offline</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col font-youtube">Youtube</div>
                            {% if platform_status['Youtube'] == "online" %}
                            <div class="col text-success">Online</div>
                            {% else %}
                            <div class="col text-danger">Offline</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col font-twitch">Twitch</div>
                            {% if platform_status['Twitch'] == "online" %}
                            <div class="col text-success">Online</div>
                            {% else %}
                            <div class="col text-danger">Offline</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if app.nlu == True %}
        <div class="col">
            <!--{% if user.light_mode == True %} TODO: fix
            <div class="card small-margin">
            {% else %}
            <div class="card text-white bg-dark border-light small-margin">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>NLU Status</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">Words</div>
                            <div class="col">{{nlu_stats["Word_count"]}}</div>
                        </div>
                        <div class="row">
                            <div class="col">Intents</div>
                            <div class="col">{{nlu_stats["Intent_count"]}}</div>
                        </div>
                        <div class="row">
                            <div class="col">Entities</div>
                            <div class="col">{{nlu_stats["Entity_count"]}}</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-center">Words</h5>
                                <div class="progress">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         style="width: {{percentages['categorized_word_count']}}%;
                                         background-color: #7289DA">{{nlu_stats['Categorized_word_count']}}</div>
                                    <div class="progress-bar bg-danger"
                                         role="progressbar"
                                         style="width: {{percentages['uncategorized_word_count']}}%;
                                         background-color: #2AABEE">{{nlu_stats['Uncategorized_word_count']}}</div>
                                </div>
                                <p class="text-center">
                                    <span style="color: #198754">
                                        Categorized
                                    </span>
                                    <span style="color: #dc3545">
                                        Uncategorized
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-center">Sentences</h5>
                                <div class="progress">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         style="width: {{percentages['training_sentence']}}%;
                                         background-color: #7289DA">{{nlu_stats['Training_sentence_count']}}</div>
                                    <div class="progress-bar bg-danger"
                                         role="progressbar"
                                         style="width: {{percentages['uncategorized_sentence_count']}}%;
                                         background-color: #2AABEE">{{nlu_stats['Uncategorized_sentence_count']}}</div>
                                </div>
                                <p class="text-center">
                                    <span style="color: #198754">
                                        Categorized
                                    </span>
                                    <span style="color: #dc3545">
                                        Uncategorized
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
