{% extends "base.html" %}
{% block title %}Impressum{% endblock %}
{% block content %}

<div class="container-fluid" style="padding: 5%">

        <h3>Responsible for the website (§5 TMG):</h3><br>
        Company Name <br>
        <br>
        00000 Street, Specification/Number<br>
        City, State, Country<br>
        <br>
        <strong>Representative:</strong> XXXXXX XXXXXXX<br>
        <strong>E-Mail:</strong> xxxxxxxxxx@xxxx.xxx<br>
        <strong>Telefax :</strong>  xxx xx xx xxx xxx<br>
        <strong>Register:</strong> XXXXXXXXXXXXXXXXXXXXXXXX, Nr. 11111111<br>
        <strong>Taxnumber:</strong>  11-1111111 (country), USt-ID (country) xxxxxxxxxxxxxxx<br>
        <br>
        <strong>Support:</strong> xxxxxxx@xxx.xxx<br>
        <strong>Sales:</strong> xxxxxxxxx@xxx.xxx<br>
        <strong>PR and Media:</strong> xxxxxxx@xxx.xxx<br>
        <br>
        © 2021 MyCompany
</div>
{% endblock %}
