{% extends "base.html" %}
{% block title %}Logs{% endblock %}
{% block content %}

<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <p class="h1">
            Commands
        </p>
        {% if user.light_mode == True %}
        <table class="table table-striped" style="padding: 2%">
        {% else %}
        <table class="table table-striped table-dark" style="padding: 2%">
        {% endif %}
            <thead>
                <tr>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Platform</th>
                    <th scope="col">Category</th>
                    <th scope="col">Text</th>
                </tr>
            </thead>
            <tbody>
                {% for log_entry in logs %}
                {% if log_entry.category >= 3 %}
                <tr class="table-danger">
                {% else %}
                    {% if log_entry.category >= 2 %}
                <tr class="table-warning">
                    {% else %}
                <tr>
                    {% endif %}
                {% endif %}
                    <td>
                        <!-- Timestamp -->
                        <div class="text">
                            {{log_entry.date}}
                        </div>
                    </td>
                    <td>
                        <!-- Platform -->
                        {% if log_entry.platform == 'discord' %}
                        <div class="text" style="color: #7289DA">
                        {% else %}
                        {% if log_entry.platform == 'telegram' %}
                        <div class="text" style="color: #179CDE">
                        {% else %}
                        {% if log_entry.platform == 'youtube' %}
                        <div class="text" style="color: #FF0000">
                        {% else %}
                        {% if log_entry.platform == 'twitch' %}
                        <div class="text" style="color: #9146FF">
                        {% else %}
                        <div class="text">
                        {% endif %}{% endif %}{% endif %}{% endif %}
                            {{log_entry.platform}}
                        </div>
                    </td>
                    <td>
                        <!-- Category -->
                        <div class="text">
                            {{log_entry.category}}
                        </div>
                    </td>
                    <td>
                        <!-- Text -->
                        <div class="text">
                            {{log_entry.message}}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-1"></div>
</div>
<div class="row"></div>

{% endblock %}
