{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="row" id="login">
    <div class="col">
        <div class="text-center">
            {% if user.light_mode == True %}
            <img src="{{url_for('static', filename='logo-gif-fast-withpause.gif')}}" width="10%">
            {% else %}
            <img src="{{url_for('static', filename='logo-gif-fast-withpause-white.gif')}}" width="10%">
            {% endif %}
        </div>
        <form method="post" action="" style="padding: 1%">
            <div class="mb-3">
                <label for="mail" class="form-label">Email</label>
                <input name="mail" id="mail" class="form-control" placeholder="Enter your e-mail...">
            </div>
            <div class="mb-3">
                <label for="pw" class="form-label">Password</label>
                <input name="pw" id="pw" class="form-control" placeholder="Enter your password...">
            </div>
            <div class="d-grid" style="padding-top: 1%">
                {% if user.light_mode %}
                <button class="btn btn-primary" type="submit" style="background-color: #6c6a61;">Login</button>
                {% else %}
                <button class="btn btn-primary" type="submit" style="background-color: #5a81bd;">Login</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>

{% endblock %}
