{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="row" style="padding-right: 15%; padding-left: 15%">
    <div class="col">
        <h2>Questions:</h2>
        <form method="post" action="" style="padding: 1%">
            <div class="d-grid" style="padding-top: 1%; padding-bottom: 1%">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            <div class="input-group mb-3">
                <textarea name="csv-questions" id="csv-question" class="form-control"></textarea>
            </div>
        </form>
    </div>
</div>
<div class="row" style="padding-right: 15%; padding-left: 15%">
    <div class="col">
        <h2>Answers:</h2>
        <form method="post" action="" style="padding: 1%">
            <div class="d-grid" style="padding-top: 1%; padding-bottom: 1%">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            <div class="input-group mb-3">
                <textarea name="csv-answers" id="csv-answers" class="form-control"></textarea>
            </div>
        </form>
    </div>
</div>
<div class="row" style="padding-right: 15%; padding-left: 15%">
    <div class="col">
        <h2>Entities:</h2>
        <form method="post" action="" style="padding: 1%">
            <div class="d-grid" style="padding-top: 1%; padding-bottom: 1%">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            <div class="input-group mb-3">
                <textarea name="csv-entities" id="csv-entities" class="form-control"></textarea>
            </div>
        </form>
    </div>
</div>
<div class="row" style="padding-right: 15%; padding-left: 15%">
    <div class="col">
        <h2>Words:</h2>
        <form method="post" action="" style="padding: 1%">
            <div class="d-grid" style="padding-top: 1%; padding-bottom: 1%">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
            <div class="input-group mb-3">
                <textarea name="csv-words" id="csv-words" class="form-control"></textarea>
            </div>
        </form>
    </div>
</div>

{% endblock %}