{% extends "base.html" %}
{% block title %}NLU-Overview{% endblock %}
{% block content %}

<div class="container">
    {% if app.nlu == False %}
    {% if user.light_mode == True %}
    <div class="card" style="margin: 2%">
    {% else %}
    <div class="card text-white bg-dark border-light" style="margin: 2%">
    {% endif %}
        <div class="card-header text-center">
            <h2><strong>NLU</strong></h2>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <form method="get" action="">
                            {% if app.nlu == True %}
                            <div class="d-grid">
                                <input type="hidden" name="set_NLU" value="0">
                                <button class="btn btn-secondary" type="submit">Deactivate</button>
                            </div>
                            {% else %}
                            <div class="d-grid">
                                <input type="hidden" name="set_NLU" value="1">
                                <button class="btn btn-primary" type="submit">Activate</button>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row row-cols-1 row-cols-md-3">
        {% if app.nlu == True %}
        {% if connection_status == False %}
        <div class="col align-self-center">
            <form action="" method="post">
                <div class="mb-3">
                    <label for="key_type" class="form-label">key_type</label>
                    <input name="key_type" id="key_type" class="form-control" placeholder="key_type">
                </div>
                <div class="mb-3">
                    <label for="key_project_id" class="form-label">key_project_id</label>
                    <input name="key_project_id" id="key_project_id" class="form-control" placeholder="key_project_id">
                </div>
                <div class="mb-3">
                    <label for="key_private_key_id" class="form-label">key_private_key_id</label>
                    <input name="key_private_key_id" id="key_private_key_id" class="form-control" placeholder="key_private_key_id">
                </div>
                <div class="mb-3">
                    <label for="key_private_key" class="form-label">key_private_key</label>
                    <textarea name="key_private_key" id="key_private_key" class="form-control" placeholder="key_private_key"></textarea>
                </div>
                <div class="mb-3">
                    <label for="key_client_email" class="form-label">key_client_email</label>
                    <input name="key_client_email" id="key_client_email" class="form-control" placeholder="key_client_email">
                </div>
                <div class="mb-3">
                    <label for="key_client_id" class="form-label">key_client_id</label>
                    <input name="key_client_id" id="key_client_id" class="form-control" placeholder="key_client_id">
                </div>
                <div class="mb-3">
                    <label for="key_auth_uri" class="form-label">key_auth_uri</label>
                    <input name="key_auth_uri" id="key_auth_uri" class="form-control" placeholder="key_auth_uri">
                </div>
                <div class="mb-3">
                    <label for="key_token_uri" class="form-label">key_token_uri</label>
                    <input name="key_token_uri" id="key_token_uri" class="form-control" placeholder="key_token_uri">
                </div>
                <div class="mb-3">
                    <label for="key_auth_provider_x509_cert_url" class="form-label">key_auth_provider_x509_cert_url</label>
                    <input name="key_auth_provider_x509_cert_url" id="key_auth_provider_x509_cert_url" class="form-control" placeholder="key_auth_provider_x509_cert_url">
                </div>
                <div class="mb-3">
                    <label for="key_client_x509_cert_url" class="form-label">key_client_x509_cert_url</label>
                    <input name="key_client_x509_cert_url" id="key_client_x509_cert_url" class="form-control" placeholder="key_client_x509_cert_url">
                </div>
                <div class="d-grid" style="padding-top: 1%">
                    <button class="btn btn-primary" type="submit">Connect</button>
                </div>
            </form>
        </div>
        {% else %}
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>NLU</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <form method="get" action="">
                                    {% if app.nlu == True %}
                                    <div class="d-grid">
                                        <input type="hidden" name="set_NLU" value="0">
                                        <button class="btn btn-secondary" type="submit">Deactivate</button>
                                    </div>
                                    {% else %}
                                    <div class="d-grid">
                                        <input type="hidden" name="set_NLU" value="1">
                                        <button class="btn btn-primary" type="submit">Activate</button>
                                    </div>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>Calls</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                Calls Total
                            </div>
                            <div class="col">
                                {{command_calls+nlu_calls}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="progress">
                        <div class="progress-bar bg-primary"
                             role="progressbar"
                             style="width: {{percentages['nlu_calls']}}%;">
                            {{nlu_calls}}
                        </div>
                        <div class="progress-bar bg-secondary"
                             role="progressbar"
                             style="width: {{percentages['command_calls']}}%;">
                            {{command_calls}}
                        </div>
                    </div>
                    <p class="text-center">
                        <span class="text-primary">
                            NLU
                        </span>
                        <span class="text-secondary">
                            Commands
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>Today</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                Calls Today
                            </div>
                            <div class="col">
                                {{call_ana['today_nlu']}}
                            </div>
                        </div>
                        <!--TODO: implement this
                        <div class="row">
                            <div class="col">
                                Defaulted Today
                            </div>
                            <div class="col">
                                X
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                New Today
                            </div>
                            <div class="col">
                                X
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>Stats</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                Calls this Week
                            </div>
                            <div class="col">
                                {{call_ana['week_nlu']}}
                            </div>
                        </div>
                        <!--TODO: implement this
                        <div class="row">
                            <div class="col">
                                Defaulted this Week
                            </div>
                            <div class="col">
                                X
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                New this Week
                            </div>
                            <div class="col">
                                X
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>NLU Status</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">Words</div>
                            <div class="col">{{nlu_stats["Word_count"]}}</div>
                        </div>
                        <div class="row">
                            <div class="col">Intents</div>
                            <div class="col">{{nlu_stats["Intent_count"]}}</div>
                        </div>
                        <div class="row">
                            <div class="col">Entities</div>
                            <div class="col">{{nlu_stats["Entity_count"]}}</div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-center">Words</h5>
                                <div class="progress">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         style="width: {{percentages['categorized_word_count']}}%;">
                                        {{nlu_stats['Categorized_word_count']}}
                                    </div>
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         style="width: {{percentages['uncategorized_word_count']}}%;">
                                        {{nlu_stats['Uncategorized_word_count']}}
                                    </div>
                                </div>
                                <p class="text-center">
                                    <span class="text-success">
                                        Categorized
                                    </span>
                                    <span class="text-secondary">
                                        Uncategorized
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-center">Sentences</h5>
                                <div class="progress">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         style="width: {{percentages['training_sentence']}}%;">
                                        {{nlu_stats['Training_sentence_count']}}
                                    </div>
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         style="width: {{percentages['uncategorized_sentence_count']}}%;">
                                        {{nlu_stats['Uncategorized_sentence_count']}}
                                    </div>
                                </div>
                                <p class="text-center">
                                    <span class="text-success">
                                        Categorized
                                    </span>
                                    <span class="text-secondary">
                                        Uncategorized
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>Platform Details</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-center" style="color: #7289DA">Discord</h5>
                                <div class="progress">
                                    <!-- dialogflow Bar -->
                                    <div class="progress-bar bg-primary"
                                         role="progressbar"
                                         style="width: {{percentages['discord_nlu']}}%;">
                                        {{calls['Discord_nlu']}}
                                    </div>
                                    <!-- Command Bar -->
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         style="width: {{percentages['discord_commands']}}%;">
                                        {{calls['Discord_commands']}}
                                    </div>
                                </div>
                                <p class="text-center">
                                    <span class="text-primary">
                                        NLU
                                    </span>
                                    <span class="text-secondary">
                                        Commands
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 class="text-center" style="color: #179CDE">Telegram</h5>
                                <div class="progress">
                                    <!-- dialogflow Bar -->
                                    <div class="progress-bar bg-primary"
                                         role="progressbar"
                                         style="width: {{percentages['telegram_nlu']}}%;">
                                        {{calls['Telegram_nlu']}}
                                    </div>
                                    <!-- Command Bar -->
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         style="width: {{percentages['telegram_commands']}}%;">
                                        {{calls['Telegram_commands']}}
                                    </div>
                                </div>
                                <p class="text-center">
                                    <span class="text-primary">
                                        NLU
                                    </span>
                                    <span class="text-secondary">
                                        Commands
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 class="text-center" style="color: #FF0000">Youtube</h5>
                                <div class="progress">
                                    <!-- dialogflow Bar -->
                                    <div class="progress-bar bg-primary"
                                         role="progressbar"
                                         style="width: {{percentages['youtube_nlu']}}%;">
                                        {{calls['Youtube_nlu']}}
                                    </div>
                                    <!-- Command Bar -->
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         style="width: {{percentages['youtube_commands']}}%;">
                                        {{calls['Youtube_commands']}}
                                    </div>
                                </div>
                                <p class="text-center">
                                    <span class="text-primary">
                                        NLU
                                    </span>
                                    <span class="text-secondary">
                                        Commands
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h5 class="text-center" style="color: #9146FF">Twitch</h5>
                                <div class="progress">
                                    <!-- dialogflow Bar -->
                                    <div class="progress-bar bg-primary"
                                         role="progressbar"
                                         style="width: {{percentages['twitch_nlu']}}%;">
                                        {{calls['Twitch_nlu']}}
                                    </div>
                                    <!-- Command Bar -->
                                    <div class="progress-bar bg-secondary"
                                         role="progressbar"
                                         style="width: {{percentages['twitch_commands']}}%;">
                                        {{calls['Twitch_commands']}}
                                    </div>
                                </div>
                                <p class="text-center">
                                    <span class="text-primary">
                                        NLU
                                    </span>
                                    <span class="text-secondary">
                                        Commands
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            {% if user.light_mode == True %}
            <div class="card" style="margin: 2%">
            {% else %}
            <div class="card text-white bg-dark border-light" style="margin: 2%">
            {% endif %}
                <div class="card-header text-center">
                    <h2><strong>Training</strong></h2>
                </div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <form method="post" action="">
                                    <div class="d-grid">
                                        <input type="hidden" name="train" value="True">
                                        <button class="btn btn-secondary" type="submit">Train</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
        {% endif %}
    </div>
</div>
<div style="padding-top: 1%;padding-bottom: 1%;padding-left: 10%">
    <p class="h2">
        What is NLU?
    </p>
    <p>
        This bot has the ability to use <strong>N</strong>atural <strong>L</strong>anguage <strong>U</strong>nderstanding. Short - <strong>NLU</strong>. <br>
        This enables the bot to also allow queries which do <strong>NOT follow</strong> a strict syntax. <br>
        The current implementation is an approach called <em>supervised machine learning</em>. <br>
        In this implementation the user corrects and helps the bot with misunderstandings while it is actively learning. <br>
        Think of it as teaching a child how to read. <br>
        This works best if the bot is only used for one language, but it can also work with more. <br>
        For more information about the NLU system; check out the <a href="/resources">resources</a><br>
    </p>
    <!-- TODO: show if not connected but activated
    <p class="h2">
        Where do I get this information from?
    </p>
    <p>
        Answer text<br>
    </p>
    <p class="h2">
        Do I need google cloud billing?
    </p>
    <p>
        Answer Text<br>
    </p>
-->
</div>


{% endblock %}
