{% extends "base.html" %}
{% block title %}OTTs{% endblock %}
{% block content %}

<div class="row">
    <div class="col-1"></div>
    <div class="col">
        {% if user.light_mode == True %}
        <table class="table table-striped" style="padding: 2%">
        {% else %}
        <table class="table table-striped table-dark" style="padding: 2%">
        {% endif %}
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Code</th>
                </tr>
            </thead>
            <tbody>
                {% for ott in otts %}
                <tr>
                    <th scope="row">{{ott.id}}</th>
                    <td>{{ott.value}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div style="padding-top: 1%;padding-bottom: 1%">
            <p class="h2">
                What are OTTs?
            </p>
            <p>
                <strong>O</strong>ne <strong>T</strong>ime <strong>T</strong>okens
                are a way to control who can gain admin access to your bot.<br>
                They are needed in the registration process and only can get viewed when logged in.<br>
                As the name suggests every code can only be used 1 time.<br>
                If the system notices that 1 code was used, it automatically generates a new one.<br>
                That way there always should be 20 active codes at all time.<br>
            </p>
            <p class="h2" style="padding-top: 1%">
                What about User 1?
            </p>
            <p>
                This is indeed a good question. <br>
                The first user will probably be the admin who installed it on the cloud/home device.<br>
                I hardcoded the first code in the database.<br>
                That way when the admin first launches the application and registers himself, the code will be taken
                and can not be longer used by anybody else.<br>
                For more information about the initialisation check out the <a href="/resources">resources</a><br>
            </p>
        </div>
    </div>
    <div class="col-1"></div>
</div>

{% endblock %}
